*{
    margin: 0;
    box-sizing: border-box;
}

/*------------IMAGES--------------*/

img{
    width: 100%;

}

 .banner{
       
        background-size: cover;
        background-position: left;
    
    }

     .gears-img{
    width: 20px;
    display: flex;
    justify-items: flex-end;
    object-fit: cover;
    object-position: 20%;
    padding: 5%;

}

/*-----------NAVIGATION---------------*/

nav ul li{
   padding: 1em;
 
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}



nav ul li a{
    text-decoration: none;
    color: #000;
}


/*---------HEADER-----------*/

header nav{
    background-color: #22550a;
    padding: 1em;
    display: flex;
    justify-content: flex-end;

}   

   

/*-----------FOOTER--------------*/

footer{
    background-color: #22550a;
    width: 100%;
    padding: 20px;
}




/*------------------------------------------------*/


@media screen and (max-width: 769px) {

    .gears-img{
    width: 20px;
    display: flex;
    justify-items: flex-end;
    object-fit: cover;
    object-position: 20%;

}

}




