*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFAA49;
}

/*------------IMAGES--------------*/

img{ width: 100%;}


 .banner{
        background-image:url(../img/alonso-reyes-unsplash.png);
        background-size: cover;
        background-position: center;
        height: 100vh;
      }

.banner-råd{
    background-image: url(../img/emma-simpson-mNGaaLeWEp0-unsplash2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.banner-kontakt{
    background-image: url(../img/vitaly-gariev-C7tP6jifKAU-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
    height: 105vh;
    width: 100%;
}

    /*------------IKONER---------------*/

.ikon1{
    width: 50px;
    display: flex;
    justify-items: flex-end;
    object-fit: cover;
    object-position: 20%;
    padding: 2%;
}


.ikon2{
    width: 50px;
    display: flex;
    justify-items: flex-end;
    object-fit: cover;
    object-position: 20%;
    padding: 2%;

}

.ikon3{
    width: 50px;
    display: flex;
    justify-items: flex-end;
    object-fit: cover;
    object-position: 20%;
    padding: 2%;
}



/*-----------NAVIGATION---------------*/

.logo{
    width: 240px;
    object-fit: cover;
    position: absolute;
    top: 1px;
    left: 20px;
}



nav ul li{
   padding: 1em 0.2em;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}



nav ul li a{
    text-decoration: none;
    color: #000;
    display: flex;
    justify-content: center;
    padding: 0.5em;
}


/*---------HEADER-----------*/



header nav{
    background-color: #FFAA49;
    padding: 1em;
    display: flex;
    justify-content: flex-end;
    border: 2px solid black;
}   

li a{
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    border-radius: 12px;
    border:1px solid rgba(116, 116, 116, 0.836);
}   

nav a:hover{
    background-color: #d0d0d0;
    border-radius: 10%;
    opacity: 80%;
}

/*---------------CURRENT PAGE-------------------*/

.current1{
     background-color: #d0d0d0;
    border-radius: 10%;
    opacity: 80%;
}

.current2{
     background-color: #d0d0d0;
    border-radius: 10%;
    opacity: 80%;
}

.current3{
     background-color: #d0d0d0;
    border-radius: 10%;
    opacity: 80%;
}

/*---------------MAIN------------*/

main{
    margin: 0;
}

section:nth-of-type(1){
    display: flex;
    justify-content: flex-end;
}


.billede1{
    width: 50%;
    margin: 2em;
    border: 2px solid black;
    border-radius: 1%;
    object-fit: cover;
}

.billede2{
    background-image: url(../img/kharytonova-antonina-SBvupW-_weA-unsplash3.jpg);
    background-size: cover;
    background-position: center;
    height: 50vw;

}

.billede3{
    background-image: url(../img/priscilla-du-preez--unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 70vw;
}

.boks1{
    width: 55%;
    background-color: #fffffff4;
    border-radius: 2px;
    padding: 1em;
    margin: 2em;
    border: 2px solid black;
    position: absolute;
    top:48%;
    }

.boks2{
    width: 55%;
    background-color: #fffffff3;
    border-radius: 2px;
    padding: 0.5em;
    border: 2px solid black;
    position: absolute;
    top: 33%;
    left: 6%;
}   

.boks3{
    width: 35%;
    background-color: #fffffff3;
    border-radius: 2px;
    padding: 2em;
    border: 2px solid black;
    position: absolute;
    top: 130%;
    left: 60%;
}

.boks4{
    margin: 0.5em;
    padding: 0.5em;
    font-size: 20px;
}


    h1{
        text-align: center;
         border-bottom: 3px #000000 solid;
        padding-bottom: 0.5em;
    }

    h2{
         text-align: center;
         border-bottom: 3px #000000 solid;
        padding-bottom: 0.5em;
    }

    h3{
          text-align: center;
        padding-bottom: 0.5em;
        padding: 0.3em;
        font-size: 30px;
    }

    .dokumentar-video{
    width: 35%;
    background-color: #fffffff3;
    border-radius: 2px;
    padding: 0.3em;
    border: 2px solid black;
    position: relative;
    left: 750px;
    top: 40px;
    }

    video{
    width: 70%;
    height: 70%;
    background-color: #d0d0d0;
    position: absolute;
    top: 1950px;
    left: 200px;
}

    p{
    padding: 0.5em 1em 0.5em 0;
    font-size: 25px;
    text-align: center;
}

.underoverskrift1{
    text-align: left;
}

.italic{
    font-style: italic;
}

.knap1{
    background-color: #55ff49f1;
   padding: 1.5em;
   color: #000000;
   text-decoration: none;
   border-radius: 8px;
   display: block;
   width: 40%;
   margin: 0 auto 1.5em auto;
   text-align: center;
   font-weight: bolder;
   font-style: italic;
   font-size: 30px;
   border: 2px solid black;
   position: absolute;
    left: 120%;
    top: 70%;
}

.boks1 a:hover{
    background-color: #49e03ef1;
    border-radius: 5%;
    opacity: 97%;
    text-decoration: underline;
}




/*------------------------KONTAKT FORMULAR--------------------------*/

.header-kontakt{
        font-size: 40px;
        position: absolute;
        top: 250px;
        left: 70px;
}

.kontaktform{
    border-radius: 5px;
    background-color: #ffaa49ec;
    padding: 1em;
    width: 90%;
    border: 2px solid black;
    position: absolute;
    top: 250px;
    left: 70px;
}


input [type=text], input[type=email], input[type=tel], textarea{
    width: 100%;
    padding: 1em;
    border: 2px solid black;
    border-radius: 4px;
    margin-top: 0.8em;
    margin-bottom: 2em;
}

input [type=checkbox], input[type=radio], input[type=submit]{
    cursor: pointer;
}

fieldset{
    border-color: black;
    margin-bottom: 1em;
}

input [type=checkbox]{
    margin-bottom: 0.8em 0;
}

input [type=submit]{
    background-color: #FFAA49;
    color: #000;
    padding: 0.8em, 1.5em;
    border: none;
    border-radius: 4px;
    width: 100%;
    font-size: 18px;
}

input [type=submit]:hover{
    background-color: #FFAA49;

}

::placeholder{
    color: #3b3b3b;
}

.visually-hidden{
    border: 0;
    clip: rect (0 0 0 0);
    height: 1px;
    margin: 1px;
    overflow: hidden;
    padding: 0;
    
}

.checkbox{
    font-size: 20px;
}

.besked-tekst{
    font-size: 30px;
}

.kontakt-tekst{
    font-size: 20px;
}

.send-besked-tekst{
    font-size: 25px;
}





/*-----------------------FOOTER--------------------------------------------------------------------------------------*/

.left-footer{
    float: left;
    width: 50%;
    background-color: #333;
}

.right-footer{
    float: right;
    width: 50%;
    background-color: #333;
}

footer ul li {
    list-style-type: none;
}

footer p, h4{
    color: white;
}

h4{
        text-align: left;
        font-size: 20px;
}
.footer-p{
    font-size: 18px;
}

.footer-p1{
    font-style: italic;
    font-size: 18px;
}

footer a{
    color: orange;
    text-decoration: none;
}

footer{
    display: flex;
    width: 100%;
    position: relative;
}

footer a:hover{
    color: white;
}

.boks5{
    width: 50%;
    padding: 0.2em;
    position: relative;
    right: 13%
}

.boks6{
    width: 50%;
    padding: 0.2em;
    position: relative;
    left: 5%;
    font-size: 25px;
}

/*-------------MOBIL---------------*/
@media screen and (max-width: 700px) {

body{
    background-color: #333;
}

 section:nth-of-type(1) img{
        width: 80%;
 }



header nav ul{
   width: 105%;
   padding: 0.3em 0.3em;
}

li a{
    font-size: 18px;
}
 
 .logo{
    width: 170px;
    object-fit: cover;
    position: absolute;
    top: 130px;
    left: 120px;
}


.banner{
    height: 240vw;
}


.banner-råd{
    background-image: url(../img/emma-simpson-mNGaaLeWEp0-unsplash3.jpg);
    background-size: cover;
    background-position: left;
    height: 125vh;
    width: 100%;
}

.banner-kontakt{
    background-image: url(../img/vitaly-gariev-C7tP6jifKAU-unsplash2.jpg);
    background-size: cover;
    background-position: center;
    height: 160vh;
    width: 100%;
}
.billede1{
    background-size: cover;
    margin: 1em;
    position: absolute;
    top: 800px;
    left: 25px;
}

.billede2{
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
}

.billede3{
    background-size: cover;
    background-position: center;
    height: 110vh;
    width: 100%;
    background-repeat: no-repeat;
}

    .boks1{
    width: 70%;
    padding: 1em;
    margin: 1em;
    position: absolute;
    top: 270px;
    left: 45px;
}

.boks2{
    width: 70%;
    padding: 1em;
    margin: 1em;
    position: absolute;
    top: 280px;
    left: 20px;
}

.boks3{
     width: 60%;
    padding: 1em;
   margin: 0.5em;
    position: absolute;
    top: 163%;
    left: 35%;
}

.boks4{
    width: 30%;
    font-size: 20px;
}


h1{
    font-size: 30px;
    text-align: center ;
    border-bottom: 3px #000000 solid;
    padding-bottom: 0.5em;
}

h4{
    font-size: 18px;
}

p{
    font-size: 17px;
    text-align: center;
}

.knap1{
    background-color: #55ff49f1;
    width: 70%;
    padding: 1em;
    margin: 1em;
    position: absolute;
    top: 550px;
    left: 10px;
}

.kontaktform{
    padding: 1.3em;
    width: 90%;
    margin: 1em;
    position: absolute;
    top: 320px;
    left: 8px;
}

.header-kontakt{
        font-size: 20px;
        position: absolute;
        top: 100px;
        left: 240px;
}

.dokumentar-video{
    width: 70%;
    background-color: #fffffff3;
    border-radius: 2px;
    padding: 0.3em;
    border: 2px solid black;
    position: relative;
    top: 30px;
    left: 110px;
    }

 video{
    width: 90%;
    height: 50%;
    background-color: #d0d0d0;
    position: absolute;
    top: 2130px;
    left: 20px;
}

footer a:hover{
    color: white;
}


.boks5{
    position: relative;
    top: 10px;
    right: 50px;
}

.boks6{
    width: 50%;
    padding: 0.3em;
    position: relative;
    left: 5%;
    font-size: 25px;
}


 }




